.gap-60 {
  margin-bottom: 60px;
}

.gap-40 {
  margin-bottom: 40px;
}

.gap-16 {
  margin-bottom: 16px;
}

.gap-32 {
  margin-bottom: 32px;
}

.gap-80 {
  margin-bottom: 80px;
}

.gap-20 {
  margin-bottom: 20px;
}
