.DetailsTable {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  border-bottom: 1px solid var(--grayLight);
  padding-bottom: 40px;
  &-heading {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(25 / 20);
    color: var(--black100);
    &--inline {
      max-width: unset;
    }
    &--block {
      max-width: 118px;
    }
  }
  &-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 22px;
    flex: 1;
  }
  &-main--full {
    display: grid;
    grid-template-columns: 1fr;
  }
}
