.personal-info-main {
  display: flex;
  gap: 0 20px;
  padding: 43px 0 160px;
  &--left {
    max-width: 633px;
    width: 100%;
  }
  &--right {
    max-width: 307px;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid var(--grayLight);
  }
}

.disable-checkout {
  pointer-events: none;
  opacity: 0.5;
}
