.famous-place--item {
  &-image {
    height: 242px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(25 / 20);
    color: var(--black100);
  }
}
