.line-search {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: var(--black100);
  }
}

.grid-layout {
  .swiper-slide {
    width: 283px !important;
    height: auto;
  }
  &--destis {
    .swiper-slide {
      width: 225px !important;
      height: auto;
    }
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      width: 36px;
      height: 36px;
      background-color: #fff;
      border-radius: 100rem;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 35px;
      &::after {
        font-size: 16px;
        font-weight: bold;
        color: var(--black100);
      }
    }
  }
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: center;
}

.gap-60 {
  margin-bottom: 60px;
}

.gap-40 {
  margin-bottom: 40px;
}

.text-banner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--white);
  margin-bottom: 40px;
}

.ant-select-dropdown {
  box-shadow: none;
  top: 564px !important;
  left: 14.5% !important;
  width: 308px !important;
  .ant-select-item-option-content {
    .select-title {
      padding: 16px 0 7px 0px;

      font-family: "Be Vietnam Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      line-height: 13px;
      color: var(--grayDefaulttMenu);
      text-transform: uppercase;
    }
  }
  .ant-select-item {
    padding: 10px 14px 10px 16px;
  }
  .ant-select-item-option-selected.select-item {
    .ant-select-item-option-content {
      .select-item--arrow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .select-item {
    .ant-select-item-option-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .select-item--location {
        display: flex;
        align-items: center;
        gap: 0 8px;
        .select-item--text {
          font-family: "Be Vietnam Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: var(--black100);
        }
      }
      .select-item--arrow {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
      }
    }
  }
  .ant-select-item:not(:last-child) {
    // margin-bottom: 21px;
  }
}
