.line-search {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: var(--black100);
  }
}

.grid-layout {
  .swiper-slide {
    width: 283px !important;
    height: auto;
  }
  &--destis {
    .swiper-slide {
      width: 225px !important;
      height: auto;
    }
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      width: 36px;
      height: 36px;
      background-color: #fff;
      border-radius: 100rem;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 35px;
      &::after {
        font-size: 16px;
        font-weight: bold;
        color: var(--black100);
      }
    }
  }
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-banner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--white);
  margin-bottom: 40px;
}

// border bottom details
.border-bottom--details {
  border-bottom: 1px solid var(--grayLight);
  padding-bottom: 40px;
}

// border bottom pays
.border-bottom--pays {
  border-bottom: 1px solid var(--grayLight);
  padding-bottom: 16px;
}

// border bottom custom
.border-bottom--custom {
  border-bottom: 1px solid var(--grayLight);
  padding-bottom: 40px;
}

// border top pays
.border-top--pays {
  padding-top: 16px;
  border-top: 1px solid var(--grayLight);
}

// border modal filter
.border-bottom--filter {
  border-bottom: 1px solid var(--grayLight);
  padding-bottom: 32px;
}

// close show dropdown
.close-show-dropdown {
  border-top: 1px solid var(--gray98);
  display: block;
  padding: 14px 24px 21px 0;
  text-align: right;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: calc(13 / 10);
  color: var(--primaryColor);
  cursor: pointer;
}

.icon-arrow--translate {
  svg {
    transition: all 0.25s linear;
    transform: rotate(180deg);
  }
}

.icon-arrow {
  svg {
    transition: all 0.25s linear;
    transform: rotate(0deg);
  }
}

// MODAL
:where(.css-dev-only-do-not-override-diro6f).ant-modal {
  font-family: "Be Vietnam Pro";
}
