*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bold;
}

input,
button {
  outline: none;
  border: transparent;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Be Vietnam Pro";
  font-weight: 400;
}
