@font-face {
  font-family: "Montserrat";
  src: url("../../src/assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("opentype");
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../src/assets/fonts/Montserrat/Montserrat-Light.ttf")
    format("opentype");
  font-style: normal;
  font-display: auto;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../src/assets/fonts/Montserrat/Montserrat-Bold.ttf")
    format("opentype");
  font-style: normal;
  font-display: auto;
  font-weight: 700;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../src/assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf")
    format("opentype");
  font-style: normal;
  font-display: auto;
  font-weight: 700;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../src/assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf")
    format("opentype");
  font-style: normal;
  font-display: auto;
  font-weight: 300;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../src/assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf")
    format("opentype");
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../src/assets/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf")
    format("opentype");
  font-style: normal;
  font-display: auto;
  font-weight: 600;
}
