:root {
  // --fontPrimary: "Be Vietnam Pro", sans-serif,
  // --fontSecondary: "Montserrat", sans-serif,
  --primaryColor: #ba9256;
  --black100: #252525;
  --white: #ffffff;
  --grayDefaulttMenu: #999999;
  --bgGray: #f5f5f5;
  --colorGray: #606060;
  --grayLight: #e5e5e5;
  --grayStroke: #bababa;
  --grayd9: #d9d9d9;
  --gray98: #989898;
  --gray97: #979ea7;
  --green80: #24b324;
  --colorRed: #ff0000;
  --btnColorHoverSearch: #a47c40;
  --btnColorHover: #a47c40;
  --btnColorFocus: #ba9c70;
  --btnColorActive: #ba9c70;
}
