.button-nav {
  padding: 15px 20px;
  background-color: var(--bgGray);
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--primaryColor);
  cursor: pointer;
}
