.details-pay--main {
  border: 1px solid var(--grayLight);
  border-radius: 8px;
  height: fit-content;
  .details-room--pay {
    margin: 16px;
    &-discount {
      display: flex;
      align-items: center;
      gap: 0 12px;
      background: var(--grayLight);
      border-radius: 8px;
      padding: 4px 0 4px 4px;
      margin-bottom: 17px;
      .discount-sale {
        padding: 5px 6px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        background: var(--colorRed);
        color: var(--white);
        border-radius: 4px;
      }
      .discount-price {
        display: flex;
        align-items: center;
        gap: 0 4px;
        &--old {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: calc(17 / 14);
          text-decoration-line: line-through;
          color: var(--grayDefaulttMenu);
        }
        &--new {
          font-family: "Be Vietnam Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: calc(18 / 14);
          text-transform: uppercase;
          color: var(--black100);
        }
      }
    }
    &-info {
      margin-bottom: 9px;
      .card-info {
        justify-content: space-between;
        &--item {
          &-text {
            font-weight: 400;
            font-size: 12px;
            line-height: calc(15 / 12);
            color: var(--black100);
          }
        }
      }
    }
    &-vote {
      .card-vote {
        margin-bottom: 12px;
      }
    }
    &-address {
      margin-bottom: 0;
    }
    &-menu {
      margin: 16px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .menu-list {
        display: flex;
        flex-direction: column;
        gap: 12px 0;
        &--item {
          display: flex;
          align-items: center;
          gap: 0 8px;
          &-icon {
            width: 16px;
            height: 16px;
          }
          &-text {
            font-weight: 400;
            font-size: 12px;
            line-height: calc(15 / 12);
            color: var(--black100);
          }
        }
      }
    }
    &-date {
      margin: 16px;
      .date-period {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &--col {
          display: flex;
          flex-direction: column;
          gap: 6px 0;
          margin-bottom: 16px;
          &:nth-child(2) {
            border-left: 1px solid var(--grayLight);
            padding-left: 16px;
          }
          .date-col {
            &--room {
              display: inline-block;
              font-weight: 400;
              font-size: 14px;
              line-height: calc(18 / 14);
              color: var(--black100);
            }
            &--time {
              max-width: 106px;
              width: 100%;
              font-weight: 700;
              font-size: 14px;
              line-height: calc(20 / 14);
              color: var(--black100);
            }
            &--to {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: calc(15 / 12);
              color: var(--grayDefaulttMenu);
            }
          }
        }
      }
      .date-live {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(18 / 14);
        color: var(--black100);
        &--number {
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 14px;
          line-height: calc(17 / 14);
          color: var(--grayDefaulttMenu);
        }
      }
    }
    &-people {
      margin: 18px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: calc(18 / 14);
      color: var(--black100);
    }
    &-expense {
      margin: 18px 16px;
      .expense-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(15 / 12);
        color: var(--black100);
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
    &-total {
      padding: 16px;
      background-color: var(--grayLight);
      .total-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(20 / 14);
        color: var(--black100);
        margin-bottom: 2px;
      }
      .total-info {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(15 / 12);
        color: var(--grayDefaulttMenu);
      }
    }
    &-book {
      padding: 16px;
    }
  }
}
