.DetailsExpense {
  &-info {
    margin-bottom: 17px;
    &--item {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: calc(17 / 14);
      color: var(--black100);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .heading {
      margin-bottom: 0;
    }
    &--price {
      font-weight: 700;
      font-size: 14px;
      line-height: calc(20 / 14);
      text-transform: uppercase;
      color: var(--black100);
    }
  }
  &-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: var(--gray98);
  }
}
