.search {
  display: flex;
  background-color: var(--white);
  max-width: 960px;
  margin: 0 auto;
  border-radius: 8px;
  height: 70px;
  padding: 2px 2px 2px 0;
  cursor: pointer;
  .drop-input-hotel {
    position: relative;
    width: 308px;
    .ant-select {
      width: 100%;
      .ant-select-selector {
        border: transparent;
        height: 66px;
        padding: 0;
        border-color: transparent !important;
        box-shadow: none !important;
        .ant-select-selection-item {
          font-family: "Be Vietnam Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: var(--grayDefaulttMenu);
          display: flex;
          align-items: center;
          line-height: 0;
          padding-left: 45px;
        }
      }
      .ant-select-arrow {
        left: 0;
        padding-left: 19px;
      }
    }
    .close-select {
      margin-left: auto;
      padding-right: 20px;
    }
  }
  &-input--hotel {
    display: flex;
    width: 308px;
    padding: 0 21px 0 19px;
    input.input-location {
      border: transparent;
    }
    span.icon-close {
      margin-left: auto;
    }
  }
  &-input--room {
    max-width: 310px;
    padding: 0 20px 0 22px;
    .clendar-room {
      display: flex;
      align-items: center;
      .input-text {
        &--right {
          padding-right: 20px;
        }
      }
    }
    .icon-horizontal {
      padding: 0 21px;
    }
  }
  &-input--user {
    padding: 0 22px 0 20px;
    .input-text {
      padding-right: 35px;
    }
  }
  .button-search {
    width: 84px;
    height: 66px;
  }
}

.icon-search {
  margin-right: 10px;
}

.input-text {
  font-size: 14px;
  line-height: (18/14);
  color: var(--grayDefaulttMenu);
}

.room-input-clendar {
  display: flex;
  align-items: center;
  max-width: 310px;
  .ant-picker-input-active {
    // // margin-left: 40px;
    // input {
    //   margin-right: 4px;
    // }
  }
  .ant-picker-input {
    width: 100px;
    margin-left: 40px;
    input {
      font-size: 14px;
      line-height: (18/14);
      color: var(--grayDefaulttMenu);
    }
  }
  .ant-picker-range-separator {
    padding: 0;
  }
}

// custom show select
.custom-select--show {
  .ant-select-item-option {
    padding: 0;
    .ant-select-item-option-content {
      .select-title {
        padding: 16px 0 7px 16px;
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        color: var(--grayDefaulttMenu);
        text-transform: uppercase;
      }
      .select-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 12px 10px 16px;
        &--location {
          display: flex;
          align-items: center;
          gap: 0 8px;
          .select-item--text {
            font-family: "Be Vietnam Pro";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(18 / 14);
            color: var(--black100);
          }
        }
      }
    }
  }
}
