.thumb-parent {
  .swiper-button-prev:hover {
    transition: all 0.25s linear;
    background-color: var(--primaryColor);
    &::after {
      color: var(--white);
    }
  }
  .swiper-button-next:hover {
    transition: all 0.25s linear;
    background-color: var(--primaryColor);
    &::after {
      color: var(--white);
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1;
    visibility: visible;
  }
  .swiper-button-disabled {
    background-color: var(--black100);
    opacity: 0.4;
    &::after {
      color: var(--white);
    }
  }
  .swiper-pagination {
    opacity: 1;
    visibility: visible;
    bottom: 20px !important;
  }
}
.details-thumb {
  position: relative;
  margin-bottom: 10px;
  &--container {
    margin-bottom: 10px;
  }
  &--image {
    height: 423px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  &--favourite {
    display: flex;
    align-items: center;
    gap: 0 12px;
    position: absolute;
    top: 14px;
    right: 12px;
  }
  &--child {
    &-main {
      border-radius: 6px;
      padding: 10px 0 10px 10px;
      background-color: var(--bgGray);
      .swiper-slide {
        width: 62px !important;
        height: auto;
      }
    }
    &-image {
      height: 58px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }
}
