.bg-home {
  &--near {
    padding: 36px 0 20px 20px;
  }
  &--desti {
    padding: 40px 0 80px 23px;
  }
  &--highlight {
    padding: 28px 0 20px 20px;
  }
}

.heading-home {
  margin-bottom: 20px;
}
