.famous-hotel {
  .banner-global {
    padding: 40px 0 197px 20px;
    .heading--big {
      max-width: 623px;
      width: 100%;
    }
    .text-banner {
      max-width: 448px;
      width: 100%;
    }
  }
}
