.home-promotion {
  .background {
    height: 488px;
    border-radius: 4px;
  }
  .banner-global {
    padding: 60px 0 0 20px;
    .heading--big {
      max-width: 452px;
      width: 100%;
      font-size: 32px;
    }
    .text-banner {
      max-width: 345px;
      width: 100%;
    }
  }
}
