.banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-bottom: 40px;
  &-title {
    display: inline-flex;
    flex-direction: column;
    max-width: 567px;
    width: 100%;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2708333333;
    color: var(--white);
    margin: 180px 0 62px 192px;
  }
}
